@tailwind base;
@tailwind components;
@tailwind utilities;

.contentful-image {
  margin: 0.5rem 0rem;
}

@layer base {
  h1 {
    font-size: 1.75em;
    margin: 0.67em 0;
  }
  h2 {
    font-size: 1.5em;
    margin: 0.75em 0;
  }
  h3 {
    font-size: 1.17em;
    margin: 0.83em 0;
  }
  h4 {
    margin: 1.12em 0;
  }
  h5 {
    font-size: 0.83em;
    margin: 1.5em 0;
  }
  h6 {
    font-size: 0.75em;
    margin: 1.67em 0;
  }
  p {
    margin: 0.25rem 0rem;
  }
}
